body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:290px;
  top:210px;
  width:454px;
  height:1px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:1px;
}
#u1 {
  position:absolute;
  left:2px;
  top:-8px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:744px;
  top:210px;
  width:526px;
  height:1px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:1px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-8px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:500px;
  top:18px;
  width:390px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:52px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:406px;
  top:110px;
  width:577px;
  height:22px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:610px;
  top:184px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:744px;
  top:184px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:540px;
  top:250px;
  width:330px;
  height:290px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:140px;
  opacity:0.5;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:140px;
}
#u14 {
  position:absolute;
  left:2px;
  top:62px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:160px;
  width:210px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:70px;
  width:330px;
  height:10px;
  opacity:0.5;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u18 {
  position:absolute;
  left:18px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:18px;
  top:102px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:131px;
  top:25px;
  width:179px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:131px;
  top:98px;
  width:179px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:60px;
  top:214px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:290px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:220px;
  opacity:0.5;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:220px;
}
#u27 {
  position:absolute;
  left:2px;
  top:102px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:70px;
  width:330px;
  height:10px;
  opacity:0.5;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:140px;
  width:330px;
  height:10px;
  opacity:0.5;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u30 {
  position:absolute;
  left:18px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:18px;
  top:102px;
  width:53px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:18px;
  top:174px;
  width:113px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:131px;
  top:25px;
  width:179px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:131px;
  top:98px;
  width:179px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:131px;
  top:170px;
  width:179px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:60px;
  top:240px;
  width:210px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:540px;
  width:1366px;
  height:110px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:110px;
}
#u42 {
  position:absolute;
  left:2px;
  top:47px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:346px;
  top:583px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:446px;
  top:585px;
  width:76px;
  height:14px;
  font-family:'华文彩云 Bold', '华文彩云';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:556px;
  top:585px;
  width:76px;
  height:14px;
  font-family:'华文彩云 Bold', '华文彩云';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:674px;
  top:585px;
  width:76px;
  height:14px;
  font-family:'华文彩云 Bold', '华文彩云';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:794px;
  top:585px;
  width:76px;
  height:14px;
  font-family:'华文彩云 Bold', '华文彩云';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:923px;
  top:585px;
  width:106px;
  height:14px;
  font-family:'华文彩云 Bold', '华文彩云';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:310px;
  top:614px;
  width:151px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:500px;
  top:614px;
  width:53px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:589px;
  top:614px;
  width:53px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:690px;
  top:614px;
  width:53px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:792px;
  top:614px;
  width:53px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:892px;
  top:614px;
  width:53px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:991px;
  top:614px;
  width:53px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
